---
---

@import "{{ site.theme }}";

/* Navbar styling */
.custom-nav {
    position: relative;
    z-index: 9999;
    background-color: #333;
    padding: 10px;
  }
  
  .custom-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
  }
  
  .custom-nav a:hover {
    color: #ff6347;
  }
  